<table class="table table-custom-border">
  <tr>
    <td>
      <p>PRIMERO</p>
      <button class="btn btn-primary" (click)="buttonClick(1)">Mostrar/Ocultar</button>
      <p *ngFor="let texto of textos; let i = index">
        <ng-container *ngIf="i == 1">
          {{texto}}
        </ng-container>
      </p>
    </td>
    <td>
      <p>SEGUNDO</p>
      <button class="btn btn-primary" (click)="buttonClick(2)">Mostrar/Ocultar</button>
      <p *ngFor="let texto of textos; let i = index">
        <ng-container *ngIf="i == 2">
          {{texto}}
        </ng-container>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p>TERCERO</p>
      <button class="btn btn-primary" (click)="buttonClick(3)">Mostrar/Ocultar</button>
      <p *ngFor="let texto of textos; let i = index">
        <ng-container *ngIf="i == 3">
          {{texto}}
        </ng-container>
      </p>
    </td>
    <td>
      <p>CUARTO</p>
      <button class="btn btn-primary" (click)="buttonClick(4)">Mostrar/Ocultar</button>
      <p *ngFor="let texto of textos; let i = index">
        <ng-container *ngIf="i == 4">
          {{texto}}
        </ng-container>
      </p>
    </td>
  </tr>
</table>